h1,h2,h3,{ 
    
    background-color:rgba(0,0,255,0.3)
    padding: 5px;
    font-family:cursive;
    text-align:center;
    width: 500px;
}
img{
    width: 500px;
    border: solid 5px red
}
p{
    width: 500px;
    text-align:justify;
    font-family:Verdana, Arial, sans-serif; 

}
h1,h2,h3,img{
    border-radius: 5px;

}
a{background-color:gold;
color: white;
padding: 10;
text-decoration: nome;
text-transform: uppercase;
border-radius: 15px;
border: solid crimson 2px;
margin: 30px;

}
/*comportamento de lin a ser clicado /*

